body {
    background-image: url('../images/designimages/slightly-dark-green-shaded.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.h1Negative{
    color: red;
    font-weight: bold;
}

.h1Positive{
    color: lime;
    font-weight: bold;
}

.h1Neutral {
    color: dodgerblue;
    font-weight: bold;
}

.textNeutral{
    color: black;
}

.changeComp{
    margin-right: 35px;
}

.h3Positive{
    color: lime;
    font-weight: bold;
}

.h3Negative{
    color: red;
    font-weight: bold; 
}

.BetBox {
    display: block;
    margin-right: 1vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border: solid black 1px;
    border-radius: 2vw;
    width: 15vw;
    background-color: red;
}

.BetBox h3{
    text-align: center;
}

.h3Black{
    font-weight: bold;
    color: black;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


.blackjack-card {
    height: 126px;
    width: 93px;
    float: left;
}

    .blackjack-card:not(:first-child) {
        margin-left: -75px;
    }

.white {
    color: white;
}

.whiteH2 {
    color: white;
}



