html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/designimages/casinobackground1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blackjack-card {
    height: 190px;
    width: 140px;
    float: left;
}

.blackjack-card:not(:first-child) {
        margin-left: -100px;
}

.white {
    color: white;
}

.whiteH2{
    color: white;
}

.h1Positive{
    color: green;
}

h1Neutral{
    color: black;
}

h1Negative{
    color: red;
}